.wakatime-chart {
    width: 50% !important;
    height: 50% !important;
}

.block-language-wakatime {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wakatime-total-time {
    position: absolute;
    top: 0;
    font-size: 1.5em;
    font-style: bold;
}